<template>

    <h1>{username}</h1>
    <h2>{appname}</h2>

    <lightning-datatable
            data={tablerows}
            columns={columns}
            key-field="Id"
            onrowselection={getSelectedName}>
    </lightning-datatable>


</template>