<template>
    
    <div class="slds-large-size_4-of-5 content">
        <div class="slds-is-relative total" lwc:dom="manual"></div>
        <div class="slds-is-relative object" lwc:dom="manual"></div>
    </div>

</template>